.MessagesPageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr auto;
      grid-template-columns: 300px 1fr auto;
      grid-template-areas: "NavBar NavBar NavBar" "searchBar  individualmessages friendsInfo" "friendList individualmessages friendsInfo";
  -ms-grid-rows: auto 125px 1fr;
      grid-template-rows: auto 125px 1fr;
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  background-color: #242526;
  overflow: hidden;
  z-index: 1;
}

.MessagesPageContainer .navbarcomponent {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: NavBar;
}

.MessagesPageContainer .MessagesPageContainer__searchBar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: searchBar;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__title {
  font-size: 19px;
  font-weight: bold;
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 20px;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer {
  width: 100%;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form .MessagesPageContainer__searchBar__searchBarContainer__form__input {
  width: 90%;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form .MessagesPageContainer__searchBar__searchBarContainer__form__input > label {
  font-size: 14px;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form .MessagesPageContainer__searchBar__searchBarContainer__form__input > div > input {
  font-size: 14px;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form .MessagesPageContainer__searchBar__searchBarContainer__form__input > .MuiInputBase-input {
  color: aliceblue;
}

.MessagesPageContainer .MessagesPageContainer__searchBar .MessagesPageContainer__searchBar__searchBarContainer .MessagesPageContainer__searchBar__searchBarContainer__form .MessagesPageContainer__searchBar__searchBarContainer__form__input > label {
  color: aliceblue;
}

.MessagesPageContainer .MessagesPageContainer__friendList {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: friendList;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.MessagesPageContainer .MessagesPageContainer__friendList:nth-child(1) {
  padding-top: 10px;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr auto;
      grid-template-columns: 80px 1fr auto;
      grid-template-areas: "profileImageContainer messageInfoContainer .";
  height: 75px;
  margin-left: 8px;
  border-radius: 8px;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends:hover {
  background-color: #494b4d;
  cursor: pointer;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__ImageContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profileImageContainer;
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__ImageContainer .MessagesPageContainer__friendList__IndividualFriends__ImageContainer__Div {
  width: 0px;
  height: 0px;
  position: relative;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__ImageContainer .MessagesPageContainer__friendList__IndividualFriends__ImageContainer__Div .MessagesPageContainer__friendList__IndividualFriends__ImageContainer__Div__onlineindicator {
  position: absolute;
  top: 10px;
  left: 43px;
  width: 14px;
  height: 14px;
  background-color: #00FF00;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 3px #242526;
          box-shadow: 0px 0px 0px 3px #242526;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__ImageContainer .MessagesPageContainer__friendList__IndividualFriends__ImageContainer__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__InfoContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: messageInfoContainer;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__InfoContainer > p:nth-child(1) {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.MessagesPageContainer .MessagesPageContainer__friendList .MessagesPageContainer__friendList__IndividualFriends .MessagesPageContainer__friendList__IndividualFriends__InfoContainer > p {
  font-size: 14px;
  margin: 0px;
}

.MessagesPageContainer .MessagesPageContainer__friendList::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__friendList::-webkit-scrollbar-thumb {
  background-color: black;
  width: 8px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 25px;
}

.MessagesPageContainer .MessagesPageContainer__friendList:hover::-webkit-scrollbar {
  width: 15px;
  background-color: black;
}

.MessagesPageContainer .MessagesPageContainer__friendList:hover::-webkit-scrollbar-thumb {
  background-color: white;
  width: 15px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: individualmessages;
  border-left: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.01fr 1fr 0.01fr;
      grid-template-rows: 0.01fr 1fr 0.01fr;
      grid-template-areas: "individualMessagesTopbar" "individualMessagesContainer" "individualMessagesBottomBar";
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: individualMessagesTopbar;
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  background-color: #242526;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 0.001fr 1fr auto 0.001fr;
      grid-template-columns: 15px 0.001fr 1fr auto 0.001fr;
      grid-template-areas: ". topBarProfileImageContainer topBarPersonInforContainer . topbarToggleFrindsInfo";
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__ImageContainer {
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topBarProfileImageContainer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__ImageContainer > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__personInfoContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: topBarPersonInforContainer;
  margin-left: 10px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__personInfoContainer > p:nth-child(1) {
  margin-bottom: 0px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__personInfoContainer > p {
  margin: 0;
  font-size: 14px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: topbarToggleFrindsInfo;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle__button {
  margin: auto;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__topBar .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle__button .MessagesPageContainer__individualMessages__topBar__friendsInfoToggle__button__icon {
  color: white !important;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: individualMessagesContainer;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% minmax(1ch, 80%) 15px;
      grid-template-columns: 20% minmax(1ch, 80%) 15px;
      grid-template-areas: ". EachMessageSentTextContainer .";
  margin-top: 1px;
  margin-bottom: 1px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent__imageContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: EachMessageSentTextContainer;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent__imageContainer > img {
  width: 200px;
  height: auto;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent__textContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: EachMessageSentTextContainer;
  background-color: #1599db;
  border-radius: 20px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent__textContainer > p {
  padding: 10px;
  margin: 0px;
  font-size: 15px;
  white-space: pre-line;
  overflow-wrap: break-word !important;
  word-wrap: break-word;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__imageContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__imageContainer > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__messageImgaeContainer {
  max-width: 80%;
  width: auto;
  min-width: 1ch;
  border-radius: 20px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__messageImgaeContainer > img {
  width: 200px;
  height: auto;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__textContainer {
  max-width: 80%;
  width: auto;
  min-width: 1ch;
  background-color: #3e4042;
  border-radius: 20px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer .MessagesPageContainer__individualMessages__messagesContainer__EachMessages .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__textContainer > p {
  padding: 10px;
  margin: 0px;
  font-size: 15px;
  white-space: pre-line;
  overflow-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer::-webkit-scrollbar:hover {
  width: 10px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer:hover::-webkit-scrollbar {
  width: 6px;
  background-color: #363636;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__messagesContainer:hover::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  width: 6px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: individualMessagesBottomBar;
  height: 75px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 40px;
      grid-template-columns: auto 1fr 40px;
      grid-template-areas: "bottomBarImagesUpload bottomBarInputHolder bottomBarSendbutton";
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bottomBarImagesUpload;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview {
  position: absolute;
  width: 0px;
  height: 0px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview__imageContainer {
  position: relative;
  left: 159px;
  top: -70px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview__imageContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview__imageContainer__button {
  width: 20px;
  height: 20px;
  background-color: black;
  color: wheat;
  border: none;
  outline: 1px solid black;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview__imageContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__imagepreview__imageContainer__image {
  height: 70px;
  width: auto;
  border: 1px solid white;
  border-radius: 5px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__uploadImages {
  width: 90%;
  height: 56px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__inputHolder {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bottomBarInputHolder;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__inputHolder .MessagesPageContainer__individualMessages__bottomBar__inputHolder__input {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 20px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__inputHolder .MessagesPageContainer__individualMessages__bottomBar__inputHolder__input > .MuiFilledInput-multiline > textarea {
  color: aliceblue;
  font-size: 16px;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__sendButtonContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: bottomBarSendbutton;
  height: 100%;
}

.MessagesPageContainer .MessagesPageContainer__individualMessages .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__sendButtonContainer .MessagesPageContainer__individualMessages__bottomBar__sendButtonContainer__button {
  height: 40px;
  width: 100%;
  color: #4285f4;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: friendsInfo;
  overflow-y: scroll;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button {
  opacity: 0%;
  display: none;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button__Icon {
  color: white !important;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv__photoContainer .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv__photoContainer__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv .MessagesPageContainer__friendsInfo__topbar__nameAndPhotoDiv__nameContainer {
  font-size: 18px;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__buttonHolder {
  width: 100%;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__buttonHolder .MessagesPageContainer__friendsInfo__buttonHolder__button {
  width: 80%;
  height: 40px;
  color: white;
  text-transform: none;
  font-size: 13px;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo::-webkit-scrollbar-thumb {
  background-color: black;
  width: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo:hover::-webkit-scrollbar {
  width: 5px;
  background-color: dimgray;
}

.MessagesPageContainer .MessagesPageContainer__friendsInfo:hover::-webkit-scrollbar-thumb {
  background-color: black;
  width: 5px;
}

@media only screen and (max-width: 900px) {
  .MessagesPageContainer {
    -ms-grid-columns: 0.001fr 1fr auto;
        grid-template-columns: 0.001fr 1fr auto;
  }
  .MessagesPageContainer__friendList__IndividualFriends__ImageContainer > img {
    width: 10px;
    height: 10px;
  }
  .MessagesPageContainer__friendList__IndividualFriends__InfoContainer {
    width: 0;
    display: none;
    opacity: 0;
  }
  .MessagesPageContainer__individualMessages__bottomBar {
    -ms-grid-columns: 60px 1fr 60px;
        grid-template-columns: 60px 1fr 60px;
  }
  .MessagesPageContainer__individualMessages__bottomBar .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer .MessagesPageContainer__individualMessages__bottomBar__uploadImagesContainer__uploadImages {
    width: 100%;
  }
  .MessagesPageContainer__friendsInfo {
    width: 200px !important;
  }
}

@media screen and (max-width: 550px) {
  .MessagesPageContainer {
    -ms-grid-columns: 100px minmax(0, 1fr) !important;
        grid-template-columns: 100px minmax(0, 1fr) !important;
        grid-template-areas: "NavBar NavBar" "searchBar  individualmessages" "friendList individualmessages" !important;
    -ms-grid-rows: auto 125px 1fr;
        grid-template-rows: auto 125px 1fr;
  }
  .MessagesPageContainer__individualMessages {
    width: 100%;
  }
  .MessagesPageContainer__friendsInfo {
    min-width: 100%;
    -ms-grid-row: 2 !important;
    -ms-grid-row-span: 2 !important;
    -ms-grid-column: 2 !important;
    grid-area: individualmessages !important;
  }
  .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar {
    position: relative;
    width: auto;
  }
  .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1 !important;
    color: white !important;
  }
  .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button > span > i {
    color: white;
  }
  .MessagesPageContainer__friendsInfo .MessagesPageContainer__friendsInfo__topbar .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button .MessagesPageContainer__friendsInfo__topbar__friendsInfoToggle__Button__Icon {
    opacity: 1;
    color: white;
    z-index: inherit;
  }
}

@media screen and (max-width: 400px) {
  .MessagesPageContainer__individualMessages__messagesContainer__EachMessages__messageImgaeContainer > img {
    width: 70% !important;
    height: auto;
  }
  .MessagesPageContainer__individualMessages__messagesContainer__EachMessagesSent__imageContainer > img {
    float: right;
    width: 70% !important;
    height: auto;
  }
}
/*# sourceMappingURL=index.css.map */