// ! Variables
$navbar-media-queries-width: 700px;

.navbar {
  background-color: #242526;
  z-index: 2;
  height: 60px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 60px 1fr 0.001fr 1fr;
  grid-template-areas: "navBarTitle navbarSearchBar navbarButtonsHolder navbarPersonalInfo";
  border-bottom: 2px solid black;

  .navbar__title {
    grid-area: navBarTitle;
    display: grid;
    place-items: center;

    .navbar__title__logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .navbar__searchbar {
    grid-area: navbarSearchBar;
    display: grid;
    align-items: center;

    .navbar__searchbar__inputHolder {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: "inputHolderInput inputHolderSearchButtonContainer";

      .navbar__searchbar__inputHolder__input {
        grid-area: inputHolderInput;
        height: 70%;
        outline: none;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: auto;
        margin-bottom: auto;
      }

      .navbar__searchbar__inputHolder__searchButtonContainer {
        grid-area: inputHolderSearchButtonContainer;
        display: grid;
        place-items: center;
        height: 100%;

        .navbar__searchbar__inputHolder__searchButtonContainer__button {
          height: 73%;
        }
      }
    }
  }

  .navbar__buttonsHolder {
    grid-area: navbarButtonsHolder;
    display: grid;
    place-items: center;

    .navbar__buttonsHolder__div {
      width: 100%;
      height: 100%;

      .navbar__buttonsHolder__div__button {
        margin-left: 10px;
        height: 60px;
        width: 60px;
        padding: 0px;
        color: whitesmoke;

      }
    }
  }

  .navbar__personalInfoHolder {
    grid-area: navbarPersonalInfo;
    display: grid;
    place-items: end;
    align-items: center;

    .navbar__personalInfoHolder__buttonHolder {
      width: auto;
      height: 100%;

      .navbar__personalInfoHolder__buttonHolder__button {
        height: 50px;
        width: 50px;
        margin-right: 3px;
        padding: 0px;
        color: white;
        background-color: lighten($color: #242526, $amount: 5%);


        &>.MuiButton-label {
          padding: 0px;
          margin: 0px;
        }

        .navbar__personalInfoHolder__buttonHolder__button__image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.Dropdown {
  z-index: 3;
  position: absolute;
  top: 58px;
  min-width: 300px;
  transform: translate(-45%);
  border: 1px solid lighten($color: #242526, $amount: 50%);
  border-radius: 5px;
  padding: 5px;

  background-color: #242526;
  $heightoftotal: 95vh;
  $navbarHeight: 55px;
  height: auto !important;
  max-height: calc(#{$heightoftotal} - #{$navbarHeight}) !important;
  display: -webkit-flex;
  display: flex;
  width: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;

    background-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    width: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgb(105, 105, 105);
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      width: 5px;
    }
  }

  .NotificationDropDown {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;

    .NotificationDropDown__topbar {
      height: auto;
      font-size: 20px;
      font-weight: bold;
    }

    .NotificationDropDown__eachNotification {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(60px, 70px) 1fr;
      grid-template-areas: "eachNotiImageContainer notificationText";
      border-radius: 5px;
      margin-bottom: 5px;

      &:hover {
        background-color: lighten($color: #242526, $amount: 20%);
      }

      .NotificationDropDown__eachNotification__imageContainer {
        grid-area: eachNotiImageContainer;
        display: grid;
        place-items: center;

        .NotificationDropDown__eachNotification__imageContainer__image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      .NotificationDropDown__eachNotification__notificationText {
        grid-area: notificationText;

        &>p {
          font-size: 14px;
        }

        &>span {
          font-size: 12px;
        }
      }
    }
  }

  .Dropdown__buttonHolder {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;

    .Dropdown__buttonHolder__profilebutton {
      width: 100%;
      color: white;
      background-color: #242526;
      height: 70px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 0;

      .Dropdown__buttonHolder__profilebutton__text {
        padding-right: auto;
        margin-right: auto;
        font-size: 14px;
        text-decoration: none;
        text-transform: none;
      }

      .Dropdown__buttonHolder__profilebutton__imageContainer__image {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        margin-right: auto;
      }

      &:hover {
        background-color: lighten($color: #242526, $amount: 50%);
      }
    }

    .Dropdown__buttonHolder__button {
      width: 100%;
      color: white;
      background-color: #242526;
      height: 50px;
      margin-bottom: 5px;
      font-size: 14px;
      text-transform: none;

      &:hover {
        background-color: lighten($color: #242526, $amount: 50%);
      }
    }
  }
}

@media screen and (max-width: $navbar-media-queries-width) {
  .navbar {
    height: 120px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 60px 0.001fr 1fr;
    grid-template-rows: 60px 60px;
    grid-template-areas:
      "navBarTitle  navbarButtonsHolder navbarPersonalInfo"
      "navbarSearchBar navbarSearchBar navbarSearchBar";

    .navbar__title {
      .navbar__title__logo {
        padding: 0px;
        margin: 0px;
      }
    }

    .navbar__searchbar {
      .navbar__searchbar__inputHolder {
        width: 90%;
        margin: auto;

        .navbar__searchbar__inputHolder__input {
          margin: auto;
          width: 99%;
          // display: grid;
          // place-items: center;
        }

        .navbar__searchbar__inputHolder__searchButtonContainer {
          grid-area: inputHolderSearchButtonContainer;
          height: 100%;

          .navbar__searchbar__inputHolder__searchButtonContainer__button {}
        }
      }
    }

    .navbar__buttonsHolder {
      grid-area: navbarButtonsHolder;
      display: grid;
      place-items: center;

      .navbar__buttonsHolder__div {
        width: 100%;
        height: 100%;

        .navbar__buttonsHolder__div__button {
          margin-left: 10px;
          height: 100%;
        }
      }
    }

    .navbar__personalInfoHolder {
      grid-area: navbarPersonalInfo;
      display: grid;
      place-items: end;
      align-items: center;

      .navbar__personalInfoHolder__buttonHolder {
        width: auto;
        height: 100%;

        .navbar__personalInfoHolder__buttonHolder__button {
          margin-left: 2px;
          height: 90%;
          margin-top: 6px;


          .navbar__personalInfoHolder__buttonHolder__button__image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .navbar__buttonsHolder {
    width: 0px;
    display: hidden;
    opacity: 0;
  }
}